
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --font-title: "Playfair Display", Georgia, serif
}

.main-container {
    width: 100%;
    height: 100%;
}

.menu-left {
    width: 300px;
    height: 100vh;
    background-color: beige;
    position: fixed;
    top: 0;
    left: 0;
}

.wrap-menu {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-text{
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.wrap-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: rgb(194, 34, 34);
    overflow: hidden;
}

.wrap-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-text h2 {
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
}

.header-text span {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 100;
    font-family: var(--font-title);
    color: cadetblue;
}

.navbar {
    width: 100%;
    border-top: 1px solid #ccc;
}

.navbar ul {
    margin-top: 10px;
    text-align: center;
}
.navbar ul li {
    margin: 0 0 10px 0;
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 1px;    
}

.navbar ul li a {
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
}

.navbar ul li a:hover {
    color: rgb(8, 140, 248);
    text-decoration:underline;
}

.footer-menu {
    border-top: 1px solid #ccc;
}

.footer-menu p{
    margin-top: 30px;
    font-size: 14px;
    font-family: var(--font-title);
    text-align: center;
    color: rgb(55, 56, 56);
}

.social ul {
    width: 100%;
    display: flex;
    justify-content: center;
}

.social ul li {
    list-style: none;
    padding: 10px;
    color: #000;
}


.social ul li a ion-icon{
    color : rgb(48, 46, 46);
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.content-right {
    width: calc(100% - 300px);
    margin-left: 300px;
    /* background-color: cornsilk; */
}

.home {
    position: relative;
    top:15px;
    width: 99%;
    height: 95vh;
    left: 5px;
    box-shadow: 3px 3px 3px rgb(110, 107, 107);
    border-radius: 50px 10px 50px 5px;
    overflow: hidden;
}

.home-img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.home-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
}

.content-img {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 50%;
    overflow: hidden;
}
.content-img img {
    width: 100%;
    height: 100%;
    object-fit:fill;
}

.content-title h1 {
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    vertical-align: middle;
    font-family: var(--font-title);
}

.content-title h1 span {
    display: block;
}

.about {
    margin: 100px 0;
    width: 100%;
    height: 500px;
    /* background-color: rgb(180, 151, 34); */
}

.about-us, .my-skills {
    margin: 30px;
}

.about-us p {
    font-size: 18px;
    line-height: 1.5;
}

.about-header {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    font-family: 'Dancing Script', cursive;
}

.hobbies {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.hobbies-img {
    height: 180px;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 30px;

}

.hobbies-img img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.skills{
    margin-top: -60px;
    width: 100%;
    height: 500px;
}

.my-skills p {
    padding: 0 15px;
}

.row-skill {
    float: left;
    width: 100%;
    margin-top: 50px;
}

.wrap-precent {
    display: inline-block;
    width: 49%;
    height: 75px;
    padding: 0 15px;
}

.wrap-precent h3{
    font-size: 16px;
    font-family: "Quicksand", Arial, sans-serif;
    margin-bottom: 10px;
    color: #000;
    font-weight: 400;
}

.progress {
    height: 6px;
    background: #e2e4e9;
    overflow: visible;
    border-radius: 10px;
}

.progress-precent {
    position: relative;
    height: 100%;
    border-radius: 10px;
    background-color: #2c98f0;
}

.progress-precent span {
    position: absolute;
    top: -28px;
    color: #2c98f0;
    right: 0;
}

.m1::after,.m2::after,.m3::after,.m4::after,.m5::after,.m6::after {
    position: absolute;
    content: '';
    top: -2px;
    right: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #2c98f0;
}

.m1::after{
    background-color: #2c98f0;
}

.m2::after{
    background-color: #e43509;
}

.m3::after{
    background-color: #0ae63a;
}

.m4::after{
    background-color: #eedf14;
}

.m5::after{
    background-color: #d848eb;
}

.m6::after{
    background-color: #1be9d8;
}

.education {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    width: 100%;
    height: 100vh;
}
.education h1 {
    display: inline-block;
    margin-bottom: 50px;
}


.wrap-educate {
    position: relative;
    background-image: url(https://media.istockphoto.com/photos/vector-hexagons-pattern-geometric-abstract-background-with-simple-picture-id1307794659?b=1&k=20&m=1307794659&s=170667a&w=0&h=8utxIGEIgxxX_rUGxa5DtS7MQIaCHvQjt1eBrU28lEg=);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    border-radius: 40px;
}


.logoUIT {
    width: 300px;
    height: 320px;
    overflow: hidden;
}

.logoUIT img {
    width: 100%;
    height: 100%;
    object-fit:fill;
    opacity: 0.5;
}

.content-educate {
    position: absolute;
}







